/* Calculation form */
#cut {
	width: 81vmin;
	height: 80vmin;
	background-color: #D8D8D8;
}

.sheet {
	width: 16vmin;
	height: 16vmin;
	border: #000000 solid;
	text-align: center;
	background-color: #FFFFFF;
}

.sheet-left {
	float: left;
}

.sheet-top-right {
	margin-left: 49vmin;
}

.sheet-row-bottom {
	margin-left: 16vmin;
	margin-bottom: 16vmin;
}

.sheet-bottom-right {
	margin-left: 33vmin;
}

.arrow {
	font-size: 2em;
	text-align: center;
}

.arrow input {
	vertical-align: middle;
}

.arrow-horizontal {
	width: 16vmin;
}

.arrow-vertical {
	width: 1em;
	height: 16vmin;
	margin-left: 16vmin;
	line-height: 16vmin;
	text-align: center;
}

.arrow-vertical span {
	width: 1em;
	display: inline-block;
	vertical-align: middle;
	line-height: normal; 
}

.arrow-vertical input {
	margin-left: -1em;
}

.sheet .arrow-vertical {
	margin-left: 0em;
}

#x-notch {
	width: 8vmin;
	height: 16vmin;
	border-right: solid #000000;
	float: left;
}

#y-notch {
	width: 16vmin;
	height: 8vmin;
	border-bottom: solid #000000;
}

#check-y-notch {
	width: 16vmin;
	height: 16vmin;
	float: right; 
	margin-top: -16vmin;
	margin-right: 0em;
}

#check-x-notch {
	width: 16vmin;
	height: 14vmin;
	float: right;
	margin-right: 15vmin;
	margin-top: -16vmin;
}